@page "/courses"
@using LingoLabs.App.ViewModel.MudBlazor
@using MudBlazor
@using MatBlazor
@using System.Net.Http.Json
@using ViewModel.MudBlazor
@inject NavigationManager NavigationManager
@inject HttpClient httpClient
@inject ISnackbar Snackbar
@inject IDialogService DialogService


<div class="text-center" style="margin-bottom: 50px;">
    <h1 style="color: black; font-size: 33px; margin-top: 60px; margin-bottom: 15px;">
        Cursurile <span style="color: #FC6F05;">LingoLabs</span>
    </h1>
    <h2 style="font-size: 19px; margin-bottom: 30px;">
        Pas cu pas, cuvânt cu cuvânt, îți vei îmbunătăți abilitățile lingvistice cu cursurile noastre interactive și captivante.<br>
        Fie că ești începător sau avansat, lecțiile sunt adaptate pentru a-ți îmbunătăți și perfecționa cunoștințele lingvistice.
    </h2>
</div>

<div class="container p-3">
    <div class="row justify-content-center">

        <div class="col-md-4">
            <div class="card m-3" style="width: 375px;">
                <img class="card-img-top" src="/images/homepage/homepage-1.png" style="max-width: 300px; max-height: 200px; display: block; margin: auto; margin-top: 15px;">
                <div class="card-body">
                    <h5 class="card-title text-center">English 1</h5>
                    <div class="row">
                        <div class="col text-center">
                            <p><MudIcon Icon="@Icons.Material.Filled.Assignment" Style="font-size: 16px; color: #2563EB; margin-top: -5px;" /> Nivele: 2</p>
                        </div>
                        <div class="col text-center">
                            <p><MudIcon Icon="@Icons.Material.Filled.MenuBook" Style="font-size: 16px; color: #2563EB; margin-top: -5px;" /> Lecții: 2</p>
                        </div>
                    </div>

                    <div style="display: flex; justify-content: center;">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="NavigateToWantPlacementTest" Style="background-color: #FC6F05; color: white; padding: 10px;">Începe Cursul</MudButton>
                    </div>

                    @* daca e logat + daca e inscris deja la curs *@
                    @* <div style="display: flex; justify-content: center;">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Style="background-color: #FC6F05; color: white; padding: 10px;">Vezi Progresul</MudButton>
                    </div> *@
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card m-3" style="width: 375px;">
                <img class="card-img-top" src="/images/homepage/homepage-1.png" style="max-width: 300px; max-height: 200px; display: block; margin: auto;">
                <div class="card-body">
                    <h5 class="card-title">English 1</h5>
                    <div class="row">
                        <div class="col">
                            <p><MudIcon Icon="@Icons.Material.Filled.Assignment" Style="font-size: 16px; color: #2563EB; margin-top: -5px;" /> Nivele: 2</p>
                        </div>
                        <div class="col">
                            <p><MudIcon Icon="@Icons.Material.Filled.MenuBook" Style="font-size: 16px; color: #2563EB; margin-top: -5px;" /> Lecții: 2</p>
                        </div>
                    </div>

                    <div style="display: flex; justify-content: center;">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="NavigateToWantPlacementTest" Style="background-color: #FC6F05; color: white; padding: 10px;">Începe Cursul</MudButton>
                    </div>

                    @* daca e logat + daca e inscris deja la curs *@
                    @* <div style="display: flex; justify-content: center;">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Style="background-color: #FC6F05; color: white; padding: 10px;">Vezi Progresul</MudButton>
                    </div> *@
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card m-3" style="width: 375px;">
                <img class="card-img-top" src="/images/homepage/homepage-1.png" style="max-width: 300px; max-height: 200px; display: block; margin: auto;">
                <div class="card-body">
                    <h5 class="card-title">English 1</h5>
                    <div class="row">
                        <div class="col">
                            <p><MudIcon Icon="@Icons.Material.Filled.Assignment" Style="font-size: 16px; color: #2563EB; margin-top: -5px;" /> Nivele: 2</p>
                        </div>
                        <div class="col">
                            <p><MudIcon Icon="@Icons.Material.Filled.MenuBook" Style="font-size: 16px; color: #2563EB; margin-top: -5px;" /> Lecții: 2</p>
                        </div>
                    </div>

                    <div style="display: flex; justify-content: center;">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="NavigateToWantPlacementTest" Style="background-color: #FC6F05; color: white; padding: 10px;">Începe Cursul</MudButton>
                    </div>

                    @* daca e logat + daca e inscris deja la curs *@
                    @* <div style="display: flex; justify-content: center;">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Style="background-color: #FC6F05; color: white; padding: 10px;">Vezi Progresul</MudButton>
                    </div> *@
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card m-3" style="width: 375px;">
                <img class="card-img-top" src="/images/homepage/homepage-1.png" style="max-width: 300px; max-height: 200px; display: block; margin: auto;">
                <div class="card-body">
                    <h5 class="card-title">English 1</h5>
                    <div class="row">
                        <div class="col">
                            <p><MudIcon Icon="@Icons.Material.Filled.Assignment" Style="font-size: 16px; color: #2563EB; margin-top: -5px;" /> Nivele: 2</p>
                        </div>
                        <div class="col">
                            <p><MudIcon Icon="@Icons.Material.Filled.MenuBook" Style="font-size: 16px; color: #2563EB; margin-top: -5px;" /> Lecții: 2</p>
                        </div>
                    </div>

                    <div style="display: flex; justify-content: center;">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="NavigateToWantPlacementTest" Style="background-color: #FC6F05; color: white; padding: 10px;">Începe Cursul</MudButton>
                    </div>

                    @* daca e logat + daca e inscris deja la curs *@
                    @* <div style="display: flex; justify-content: center;">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Style="background-color: #FC6F05; color: white; padding: 10px;">Vezi Progresul</MudButton>
                    </div> *@
                </div>
            </div>
        </div>

    </div>
</div>

@code {
    void NavigateToWantPlacementTest()
    {
        NavigationManager.NavigateTo("/want-placement-test");
    }
}
