@page "/login"
@using LingoLabs.App.Auth
@using LingoLabs.App.ViewModel.AuthenticationModels
@using MudBlazor
@using MatBlazor
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@inject NavigationManager NavigationManager
@inject CustomStateProvider authStateProvider
@inject IJSRuntime JSRuntime
@inject ISnackbar Snackbar

<div class="d-flex justify-content-around bg-secondary mb-3 align-items-center" style="width: 100%; height: 250px; margin-top:-10px; background: linear-gradient(to right, #2563EB, #36A7FC); position: relative; z-index: 1;">
    <span style="color: #edf5fa; position: absolute; top: 20%; left: 15%; font-size: 20px; transform: rotate(15deg);">a</span>
    <span style="color: #edf5fa; position: absolute; top: 34%; left: 12%; font-size: 25px; transform: rotate(-10deg);">b</span>
    <span style="color: #edf5fa; position: absolute; top: 70%; left: 87%; font-size: 15px; transform: rotate(20deg);">c</span>
    <span style="color: #edf5fa; position: absolute; top: 63%; left: 91%; font-size: 30px; transform: rotate(-15deg);">d</span>
    <span style="color: #edf5fa; position: absolute; top: 10%; left: 70%; font-size: 20px; transform: rotate(10deg);">e</span>

    <span style="color: #edf5fa; position: absolute; top: 40%; left: 92%; font-size: 25px; transform: rotate(-80deg);">f</span>
    <span style="color: #edf5fa; position: absolute; top: 60%; left: 25%; font-size: 20px; transform: rotate(40deg);">g</span>
    <span style="color: #edf5fa; position: absolute; top: 80%; left: 4%; font-size: 15px; transform: rotate(-30deg);">h</span>
    <span style="color: #edf5fa; position: absolute; top: 20%; left: 80%; font-size: 30px; transform: rotate(20deg);">i</span>
    <span style="color: #edf5fa; position: absolute; top: 78%; left: 13%; font-size: 20px; transform: rotate(-10deg);">j</span>
    <span style="color: #edf5fa; position: absolute; top: 10%; left: 30%; font-size: 25px; transform: rotate(60deg);">k</span>
    <span style="color: #edf5fa; position: absolute; top: 70%; left: 10%; font-size: 20px; transform: rotate(-40deg);">l</span>
    <span style="color: #edf5fa; position: absolute; top: 30%; left: 90%; font-size: 15px; transform: rotate(30deg);">m</span>
    <span style="color: #edf5fa; position: absolute; top: 50%; left: 20%; font-size: 30px; transform: rotate(-20deg);">n</span>
    <span style="color: #edf5fa; position: absolute; top: 80%; left: 80%; font-size: 20px; transform: rotate(10deg);">o</span>
    <span style="color: #edf5fa; position: absolute; top: 40%; left: 87%; font-size: 25px; transform: rotate(-60deg);">p</span>
    <span style="color: #edf5fa; position: absolute; top: 60%; left: 98%; font-size: 20px; transform: rotate(30deg);">q</span>
    <span style="color: #edf5fa; position: absolute; top: 90%; left: 83%; font-size: 15px; transform: rotate(-20deg);">r</span>
    <span style="color: #edf5fa; position: absolute; top: 10%; left: 50%; font-size: 30px; transform: rotate(40deg);">s</span>
    <span style="color: #edf5fa; position: absolute; top: 20%; left: 10%; font-size: 20px; transform: rotate(-30deg);">t</span>
    <span style="color: #edf5fa; position: absolute; top: 70%; left: 90%; font-size: 25px; transform: rotate(20deg);">u</span>
    <span style="color: #edf5fa; position: absolute; top: 30%; left: 2%; font-size: 20px; transform: rotate(-10deg);">v</span>
    <span style="color: #edf5fa; position: absolute; top: 50%; left: 80%; font-size: 15px; transform: rotate(60deg);">w</span>
    <span style="color: #edf5fa; position: absolute; top: 80%; left: 20%; font-size: 30px; transform: rotate(-40deg);">x</span>
    <span style="color: #edf5fa; position: absolute; top: 40%; left: 74%; font-size: 20px; transform: rotate(30deg);">y</span>
    <span style="color: #edf5fa; position: absolute; top: 60%; left: 8%; font-size: 25px; transform: rotate(-20deg);">z</span>
</div>


<MudContainer>
    <div class="row mx-0 justify-content-md-center" style="margin-top: -175px; margin-bottom:50px;">
        <div class="col-md-6 d-flex flex-column align-items-center justify-content-center" style="background-color: #E9EFFD; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); z-index: 1;">
            <div class="row">
                <h2 style="color: #2563EB; padding: 7px; margin-top: 30px;">Login</h2>
            </div>
            <div class="row">
                <p style="font-size: 16px; font-weight: bold;  margin-bottom: 25px;">
                    Ești nou la <span style="color: #FC6F05;">LingoLabs</span>? <NavLink href="register">Sign Up!</NavLink>
                </p>
            </div>
            <MudPaper Class="pa-6" Style="margin-bottom: 40px; width: 60%; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);">
                <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors" OnValidSubmit="OnSubmit" Model="loginRequest">
                    <MudTextField T="string" Label="Email" Required="true" RequiredError="Email is required!" 
                                  @bind-Value="loginRequest.Email"
                                  Validation="@(new EmailAddressAttribute() {ErrorMessage = "The email address is invalid"})" 
                                  ValidationMessage For="@(() => loginRequest.Email)"/>
                    <MudTextField T="string" Label="Password" @ref="pwField1"
                                  InputType="InputType.Password"
                                  Required="true"
                                  RequiredError="Password is required!" 
                                  @bind-Value = "loginRequest.Password"
                                  ValidationMessage For="@(() => loginRequest.Password)" />
                    <div class="d-flex align-items-center justify-content-center" style="padding: 20px; margin-bottom: -20px;">
                        <MudButton Variant="Variant.Filled" Style="background-color: #FC6F05; color: white; margin: auto;"
                                   Disabled="@(!success)" Class="ml-auto" type="submit" OnClick="OnSubmit">Login
                        </MudButton>
                    </div>
                </MudForm>
            </MudPaper>
            <div class="row">
                <p style="font-size: 16px; font-weight: bold;  margin-bottom: 15px;">
                    Sau continuă cu
                </p>
            </div>
            <div class="row justify-content-center" style="margin-bottom: 20px;">
                <img src="images/login/google.png" alt="Google" style="width: 8%;">
                <img src="images/login/facebook.png" alt="Facebook" style="width: 8%">
                <img src="images/login/twitter.png" alt="X" style="width: 8%;">
            </div>
            <div class="row">
                <p style="font-size: 16px; font-weight: bold;  margin-bottom: 50px;">
                    Nu ai un cont? <NavLink href="register">Sign Up!</NavLink>
                </p>
            </div>
        </div>
    </div>
</MudContainer>

@code {
    bool success;
    string[] errors = { };
    MudTextField<string> pwField1;
    MudForm form;
    private Snackbar snackbar;

    LoginViewModel loginRequest { get; set; } = new LoginViewModel();
    string error { get; set; }

    async Task OnSubmit()
    {
        error = null;
        try
        {
            await authStateProvider.Login(loginRequest);
            NavigationManager.NavigateTo("/");
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
            snackbar = Snackbar.Add("Login successful!", Severity.Success);
        }
        catch (Exception ex)
        {
            error = ex.Message;
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
            snackbar = Snackbar.Add($"{error}", Severity.Error);
        }
    }
}
